# Folders.
.git/
bin/
obj/
Properties/

# Files.
#.gitignore
App.config
*.csproj


#echo "# LLRB_Tree" >> README.md
#git init
#git add README.md
#git commit -m "first commit"
#git branch -M main
#git remote add origin https://github.com/Much2More/LLRB_Tree.git
#git push -u origin main
